
.contenedor1 {
    width: 20vw;
    height: 60vh;
    }
.contenedor1 {
    border: 1px;
    border-color: black;
    border-style: solid;
}
.contenedor1 {
    text-align: center;
    }
.contenedor1 {
    margin: 0 auto;
    margin-top: 60px;
   }

.complete {
    height: 35px;
    width: 180px;
}

.enviar {
height: 35px;
width: 120px;
margin-top: 20px;
margin-bottom: 20px;
font-size: large;   
}

.button {
height: 25px;
width: 180px;
font-size: medium;

}